body{
	width: 500px;
	font-family: Arial;
}

h3{
	font-weight: lighter;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 30px;
}

label{
    padding: 10px 5px 10px;
    display: inline-block;
	width: 27%;
	background-color: #F7F7F7;
	margin-left: 15px;
	font-size: 17px;
}

a{
	text-decoration: none;
	margin-top: 20px;
	text-align: center;
	font: 400 13.3333px Arial;
	float: left;
	display: inline-block;
}

.btn{
	margin: 10px 10px 2px 20px;
	padding: 10px 5px 10px 5px;
	width: 170px;
	background-color: #696969;
	color: #FFFFFF;
	border: 5px solid #696969;
	border-color: #696969;
	outline: 0;
}

.btn:hover{
	border-color: #555;
	cursor: pointer;
}

.premierElement{
	margin-top: 10px;
}

.divPrincipale{
	border: 1px solid rgba(0,0,0,0.3);
	background-color: #F7F7F7;
	box-shadow: 0 2px 1px 0 rgba(0,0,0,0.2);
}

.divSecondaire{
	margin-left: 10px;
	margin-right: 0px;
	margin-bottom: 20px;
}

.container{
	width: 60%;
	border: 1px solid rgba(0,0,0,0.3);
	background-color: #F8F8FF;
	padding: 5px 50px 5px 5px;
	margin-right: 10px;
}

.container:focus{
	border-color: #A9A9A9;
	outline: 0;
}

.container:hover{
	border-color: #808080;
}

.align-right{
	text-align: right;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.titre{
	margin-left: 30px;
	margin-right: 20px;
	margin-top: 20px;
	border-bottom: 1px solid #CCC;
	padding-bottom: 20px;
}

.erreur{
	color: red;
	margin-left: 33%;
}

.envoi_erreur {
    border: 1px solid #f2abab;
    color: #a94442;
    background-color: #f2dede;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    display: none;
    font-size: 17px;
}

.envoi_ok {
    border: 1px solid #00dd22;
    color: #006600;
    background-color: #99ff99;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    display: none;
    font-size: 17px;
}